<!DOCTYPE html>
<html lang="en">
<head>
    <title>scoreboard demo</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
        var i = 1;
        function updatePage(page) {
            document.location = "?page=" + page;
        }
        function reloadPage() {
            document.location.reload();
        }
        setInterval(function(){ 
            if(<%=awarded%> == false){
                reloadPage(); 
            }
        }, 3000);

        jQuery(function($) {

            $('#clear').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/clear',
                    type: 'POST',
                    success: function(/*result, textStatus, xhr*/) {
                        updatePage(1);
                    }
                });
            });
            $('#pickPlayer').click(function (e) {
                $("#pickPlayer").attr("disabled", true);
                e.preventDefault();
                $.ajax({
                    url: '/pickPlayer',
                    type: 'POST',
                    success: function(/*result, textStatus, xhr*/) {
                        //updatePage(1);
                    }
                });
            });
            $('#resetWeek').submit(function (e) {
                $("#resetBtn").attr("disabled", true);
                e.preventDefault();
                const _form = $(this);
                $.ajax({
                    url: '/resetWeek',
                    type: 'POST',
                    data: _form.serialize(),
                    success: function(/*result, textStatus, xhr*/) {
                        setInterval(function(){ 
                            reloadPage(); 
                        }, 5000);
                    }
                });
            });
            $('.modifyScore').click(function (e) {
                e.preventDefault();
                const _link = $(this);
                $.ajax({
                    url: '/modify',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: _link.attr("name"),
                        delta: _link.attr("delta")
                    }),
                    success: function () {
                        reloadPage();
                    },
                    error: function (xhr, /*textStatus, errorThrown*/) {
                        alert("error: " + xhr.status);
                    }
                });
            });
            $('.remove').click(function (e) {
                e.preventDefault();
                const _link = $(this);
                $.ajax({
                    url: '/remove',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: _link.attr("name")
                    }),
                    success: function () {
                        reloadPage();
                    },
                    error: function (xhr, /*textStatus, errorThrown*/) {
                        alert("error: " + xhr.status);
                    }
                });
            });
            
        });
    </script>
</head>

<body>
    <div class="container">

        <div class="row">

            <div>
                <div style="width:300px; float:left"> <h2>scoreboardemo</h2> <h3> day: <%=day%>. <small>next day in 1 min. </small> </h3>  </div>
                <div style="width:300px; float:right"><h3 style="text-align: right"> Total Prize: <%=totalPrize%>. </h3></div>
            </div>

           <div><h5>current demo player: <%=player%> <button id="pickPlayer" type="submit" class="btn btn-sm btn-primary">Pick Player</button></h5></div>
            
            

        </br>
            <% 
                if(weekEnd==true && awarded==true){
            %>  
            <div class="row" style="text-align: left">
                <form id="resetWeek">
                    <button id="resetBtn" type="submit" class="btn btn-sm btn-primary">Reset Week</button>
                </form>
            </div>
            <div class="row" style="text-align: left; font-size:12px;">
                <h3 style="padding-left: 20px">Week Awards</h3> 
                <div>
                    <small style=" float: right">(scroll ^)</small>
                    <ul style="overflow-y: scroll; height: 200px">
                    <% 
                    weekAwards.forEach((data) => { 
                    %>
                        <li><%=data.userId%> => <%=data.score%></li>
                    <% }); %>
                    </ul>
                </div>
            </div>
            <%  
                }
            %>

            <div style="padding:12px 12px 0px 0px;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>rank</th>
                        <th>userID</th>
                        <th>score</th>
                        <th>userName</th>
                        <th>userAge</th>
                        <th>rankChange</th>

                        <th></th>
                    </tr>
                    </thead>
                    <% 
                    var order=1;
                    list.forEach((data) => { 
                    %>
                    <% 
                    if(data.userId == player){
                    %>
                    <tr style="font-weight: bolder; ">
                    <% 
                    } else {
                    %>
                    <tr>
                    <% 
                    }
                    %>
                    
                        <td><%=data.rank%></td>
                        <td><%=data.userId%></td>
                        <td><%=data.score%></td>
                        <td><%=data.userName%></td>
                        <td><%=data.userAge%></td>
                        <td><%=data.rankChange%></td>
                        <td></td>
                    </tr>
                    <% ++order; }); %>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <% 
                    if(playerList != null){
                    
                    playerList.forEach((data) => { 
                    %>
                    <% 
                    if(data.userId == player){
                    %>
                    <tr style="font-weight: bolder; ">
                    <% 
                    } else {
                    %>
                    <tr>
                    <% 
                    }
                    %>
                        <td><%=data.rank%></td>
                        <td><%=data.userId%></td>
                        <td><%=data.score%></td>
                        <td><%=data.userName%></td>
                        <td><%=data.userAge%></td>
                        <td><%=data.rankChange%></td>
                        <td></td>
                    </tr>
                    <% }); } %>
                </table>
            </div>


        </div>

    </div>
</body>
</html>